@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html{
  font-size: 62.5%;
  font-family: "Lora", sans-serif;

}

body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* container*/
.container{
  max-width: 150rem;
  width: 100%;
  margin: 0 auto;
}

.container .heading-1{
  text-align:center;
  font-weight: 400;
  font-size: 3rem;
}

 /*header section*/
 .container .container-hero{
  background-color: rgb(253, 253, 253);
  height: 4vw;
  width: 100%;
 }

 .container .container-hero .hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 0;
 }

 .container .container-hero .hero .contacto{
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  gap:1rem;
 }

 .container .container-hero .hero .contacto .content-contacto{
  display: flex;
	flex-direction: column;
  color:#000;
 }

 .container-logo img {
  width: 23vh;
  height: 8vh;
  object-fit: contain;
  display: block;
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.container-user{
  display: flex;
	gap: 1rem;
	cursor: pointer;
  text-align: center;
}

.container-user .content-carrito{
  display: flex;
	flex-direction: column;
  text-decoration: none;
  color:#000;
}

.container-user a, .content-carrito a{
  text-decoration:none;
  color: #000;
}


 /*Navbar style*/

.container-navbar{
  background-color: #1318bc;
}

.container-navbar .navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
/* para diseño responsive*/
.navbar .icon-tabler-menu-2{
  display: none;
  gap:0.7rem;
}

.navbar .menu-C {
    display: none;
  }

.container-navbar .navbar .navbar-content{
  display: flex;
  gap:1rem;
}

.container-navbar .navbar .navbar-content li{
  list-style: none;
  justify-content: center;
  padding: 8px;
}
.container-navbar .navbar .navbar-content li a{
  text-decoration: none;
  font-size: 1.3rem;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}

.container-navbar .navbar .navbar-content a::after {
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.container-navbar .navbar .navbar-content a:hover{
  opacity: 1;
}

.menu a:hover{
  color: #fff;
}

.container-navbar .navbar .search-form {
	position: relative;
  display: flex;
  align-items: center;
  border: 1.3px solid #fff;
  border-radius: 2rem;
  background-color: #fff;
  height: 3rem;
  overflow: hidden;
  padding: 1.2svw;
  margin: 1vh;
}

.container-navbar .navbar .search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 40rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #000000;
	cursor: pointer;
}

.container-navbar .navbar .search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.container-navbar .navbar .search-form .btn-search {
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80%;
	padding: 1rem;
}


/*Main */


.container .main-content{
  background-color: #ffffff;
}
/*Slider*/
.container .main-content .slider-container {
	margin: 0;
	overflow: hidden;
	width: 100vw;
	max-width: 100%;
  }
  
  .container .main-content .slider-frame {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-radius: 10px;
	display: flex;
  }
  
  .container .main-content .slider-frame ul {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	width: 400%;
	animation: slide 20s infinite ease-in-out;
  }
  
  .container .main-content .slider-frame li {
	flex: 0 0 100%;
  }
  
  .container .main-content .slider-frame img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 10px;
  }
  
  /* Animación del slider */
  @keyframes slide {
	0% { transform: translateX(0); }
	25% { transform: translateX(0); }
  
	30% { transform: translateX(-100%); }
	50% { transform: translateX(-100%); }
  
	55% { transform: translateX(-200%); }
	75% { transform: translateX(-200%); }
  
	80% { transform: translateX(-300%); }
	100% { transform: translateX(-300%); }
  }

/* Promociones y descuentos en productos*/
.container .main-content .top-products {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container .main-content .top-products .container-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.container .main-content .top-products .container-options a{
	color: #ffffff;
	background-color: #ff0000;
	padding: 0.7rem 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
  text-decoration: none;
}

.container .main-content .top-products .container-options a:hover {
	background-color: #1318bc;
	color: #ffffff;
}

.container .main-content .top-products .container-options a .active {
	background-color: #ff0000;
	color: #fff;
}

/* card Productos */
  .container-productos {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 1.5rem;
    padding: 3vh;
}

.container .main-content .container-productos .card-producto {
	background-color: #1318bc;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container .main-content .container-productos .card-producto .container-img {
	position: relative;
}

.container .main-content .container-productos .card-producto  .container-img img {
  	position: relative;
  	width: 100%;
}

.container .main-content .container-productos .card-producto .button {
	display: flex;
	flex-direction: column;
	gap: 1rem;
  	margin-right: 2vh;
	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.4s ease;
}

.container .main-content .container-productos .card-producto .button span {
	border: 1px #e8a7a7;
	padding: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.container .main-content .container-productos .card-producto .button span:hover {
	background-color: #1318bc;
}

/*Muestra animacion del los botones a llamada de accion en los card de productos*/
.container .main-content .container-productos .card-producto:hover .button{
	z-index: 0;
	right: -1rem;
}

.container .main-content .container-productos .card-producto  .container-img .descuento {
	position: absolute;
	left: 0;
	background-color: #f59797;
	color: #ffffff;
	padding: 1.5px 1rem;
	border-radius: 1rem;
	font-size: 1.3rem;
}

.container .main-content .container-productos .card-producto .iconos{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.4s ease;
}

.container .main-content .container-productos .card-producto .iconos span {
	border: 1px solid rgb(255, 255, 255);
	padding: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.container .main-content .container-productos .content-card-producto {
	display: grid;
	justify-items: center !important;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 1rem;
}

.container .main-content .container-productos .content-card-producto .stars {
	grid-row: 1/2;
	grid-column: 1/-1;
}

.container .main-content .container-productos .content-card-producto h3 {
	grid-row: 2/3;
	grid-column: 1/-1;
  color:#ffffff;
	font-weight: 400;
	font-size: 1.3rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.container .main-content .container-productos .content-card-producto h3:hover {
	color: #ff0000;
}

.container .main-content .container-productos .content-card-producto .add-carrito {
	justify-self: start;
	border: 2px solid #ffffff;
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
	display: flex;
	align-items: center;
	justify-content: center !important;
}

.container .main-content .container-productos .content-card-producto .precio {
	justify-self: end;
	align-self: center;
    color:#ffffff;
	font-size: 1.4rem;
	font-weight: 600;
}

.container .main-content .container-productos .content-card-producto .precio span {
	font-size: 1.4rem;
	font-weight: 300;
	text-decoration: line-through;
	color: #ff0000;
	margin-left: 0.5rem;
}

/* Card de contenido */

.container .main-content .container-infor {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	padding: 3rem 0;
}

.container .main-content .container-infor .card-info {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	background-color: #fe0000;
	border-radius: 1rem;
	padding: 1.5rem 0;
}
.container .main-content .container-infor .card-info  .card-content-info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.container .main-content .container-infor .card-info  .card-content-info span {
	font-weight: 700;
	font-size: 1.2rem;
	color: #ffffff;
}

.container .main-content .container-infor .card-info .card-content-info p {
	color: #000000;
	font-family: Arvo, serif !important;
	font-weight: 500;
}

.container .main-content .container-infor .card-info  .card-content-info a{
  text-decoration: none;
}

/* Ultima foto*/
.img img{
  width: 100%;
  height: auto;
  padding: 2vh;
  object-fit: contain;
}


/* Footer */

.footer {
	background-color: #1318bc;
    margin-top: 5vh;
}

.footer .container-footer{
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 4rem;
}

.footer .container-footer .menu-footer{
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.footer .container-footer .menu-footer .content-footer .titulo-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
  color: #ffffff;
}

.footer .container-footer .menu-footer .content-footer .titulo-footer {
	display: flex;
	flex-direction: column;
	gap: 2rem;
  
}

/*Styles de las listas de footer*/
.footer .container-footer .menu-footer .content-footer .titulo-footer {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.footer .container-footer .menu-footer .content-footer ul li {
	list-style: none !important;
	font-size: 1.6rem;
    color: #ffffff;
	font-weight: 300;
	padding-top: 1vh;
}

.footer .container-footer .menu-footer .content-footer ul li a {
	text-decoration: none !important;
	color: #ffffff;
}


.footer .container-footer .menu-footer .content-footer .content p {
	font-size: 1.7rem;
	color: #ffffff;
}

.footer .container-footer .menu-footer .content-footer .content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #ff0000;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.footer .container-footer .menu-footer .content-footer .content input::-webkit-input-placeholder {
	color: #ffffff;
}

 .content button {
	border: none;
	background-color: #ff0000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: #000;
	color: #ffffff;
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #ff0000;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
  color: #ffffff;
}

/* Responsive de la primer pagina*/
/*media querys para tables */
@media (min-width: 750px) and (max-width: 1200px){

	/*navbar*/
	.navbar{
		margin-top: 2.6vw !important;
	}

	.navbar .navbar-content {
		display: none;
	}

	.navbar .navbar-content a{
		font-size: 1rem !important;
	}

	/*Main*/
	.heading-1 {
		font-size: 2.4rem;
	}
	/* Botones Opciones*/

	.container-options {
		align-items: center;
	}

	.container-options a{
		text-align: center;
		padding: 1rem 2rem;
		font-size: 1.3em !important;
	}

	/* card Productos */

	.container-productos {
		grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr)) !important;
	}

	/*Card info*/

	.container-infor{
		grid-template-columns: repeat(2, 1fr) !important;
	}

	.card-info {
		padding: 2rem;
	}

/*Footer */
	.menu-footer {
		grid-template-columns: repeat(2, 1fr) !important;
	}

	.social-iconos{
		display: inline-flex;
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
}

/*Media querys -- Celulares*/
/* media querys para celulares general*/
@media (min-width: 310px) and (max-width: 768px){
	html {
		font-size: 42.5%;
		width: 100%s;
	}
	/* hero*/
	 .contacto {
		display: none !important;
	  }
	  .container-hero {
		justify-content: space-between;
	  }
	  .container-logo img {
		margin-right: auto;
	  }
	  .container-user {
		margin-left: auto;
	  }

	  .container-user a, .content-carrito a{
		display: none !important;
	  }
	  .number{
		display: none !important;
	  }
	
	/*navbar*/
	.navbar {
		margin-top: 6vh;
		padding: 1rem 2rem;
		position: relative;
	}
/*Oculta el checkbox*/
	.menu-C{
		display: none ;
	}

	.navbar .icon {
		display: block;
		cursor: pointer;
	}

	.navbar .navbar-content{
		display: none !important; /* Ocultamos el menú inicialmente */
        flex-direction: column;
        background-color: #1318bc; /* Color de fondo del menú desplegable */
        position: absolute;
        top: 100%; /* Para que aparezca debajo del botón */
        left: 0;
        width: 100%; /* Abarca todo el ancho de la pantalla */
        z-index: 1000;
	}

	.menu-C:checked ~ .navbar-content {
        display: flex !important;
    }

    .navbar-content li {
        list-style: none;
        padding: 1rem;
        text-align: center;
    }

    .navbar-content li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
    }

    /* Estilos para el formulario de búsqueda */
    .search-form {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
		
    }

    .search-form input {
        width: 80%;
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    .search-form .btn-search {
        border: none;
        cursor: pointer;
    }

    .btn-search svg {
        stroke: #ff0404;
    }

	.heading-1 {
		font-size: 1.5rem;
	}

	/*
	Slider
	*/

	.container .main-content .slider-frame img {
		object-fit: contain;
	  }
	.container-options a {
		font-size: 2rem;
		padding: 1rem 1rem;
		font-weight: 500;
	}

	.container-productos {
		grid-template-columns: repeat(2, 1fr) !important;
		gap: 1.5rem;
	}

	.container-infor{
		grid-template-columns: repeat(2, 1fr) !important;
	}

	.card-info {
		padding: 2rem;
	}

	.container-img .descuentos {
		font-size: 2rem;
	}

	.content-card-producto h3 {
		font-size: 2.2rem;
	}
/*footer*/
	.menu-footer{
		grid-template-columns: 1fr !important;
	}

	.menu-footer .titulo-footer{
		text-align: center;
	}

	.contacto-info {
		align-items: center;
	}

	.contacto-info ul, .informacion ul, .programas ul {
		display: none;
	}
	.content p{
		font-size: 1.4rem;
		
	}

	.copyright img {
		max-width: 40vw;
		max-height: 20vw;
		object-fit: contain;
	  }


}